attrs
backcall
bleach
Click
cycler
decorator
defusedxml
entrypoints
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
numpy
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
PyWavelets
pyzmq
qtconsole
requests
scikit-image
scipy
Send2Trash
six
terminado
testpath
torch
torchvision
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
